<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="\css\create.css">
<body>
    <div class="loginbox">
    <img src="\images\avatar.png" class="avatar">
        <h1>Create Account</h1>
        <form action="/create" method="post">
            <div style="display: inline-block;">
                <p>Email</p>
                <input type="email" id="email" name="email" class='form-control' placeholder="Enter Email" required>
                <p>Phone Number</p>
                <input type="tel" id="mobile" name="mobile" class='form-control' placeholder="Enter phone number" size="10" pattern="[6-9]{1}[0-9]{9}" title="Enter a 10 digit number" required>
                <p>Address</p>
                <input type="text" id="address" name="address" placeholder="Enter Address" required>
                <input type="submit" name="" value="Create Account">
            </div>
            <div style="float: right">
                <p>Name</p>
                <input type="text" id="uname" name="uname" placeholder="Enter Name" required>
                <p>Password</p>
                <input type="password" id="pwd" name="pwd" class='form-control' placeholder="Enter Password" minlength="8" required>
                    <div class="circle-item" >
                      <input name="select" type="radio" id="restaurant" value="restaurant">
                      <label for="restaurant">Restaurant</label>
                    </div>
                    <div class="circle-item" >
                      <input name="select" type="radio" id="customer" value="customer" checked="checked">
                      <label for="customer">Customer</label>
                    </div>
            </div>
        </form>
        
    </div>

</body>
</head>
</html>