<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
    <div class="loginbox">
    <img src="/images/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form action="\forgot"  method="post">
            <p>Username</p>
            <input type="text" name="uname" id="uname" placeholder="Enter Username">
            <p>You will get a mail to your registered email id</p>
            <input type="submit" name="" value="Send">
        </form>
    </div>
</body>
</head>
</html>